---
---

@import "normalize";

@import "mixin";
@import "global";
@import "button";
@import "nav";
@import "profile";
@import "index";
@import "post";
@import "syntax";

ul.social.about {
  margin: 0 10px 10px 0;
  padding: 0;
  overflow: hidden;
  line-height: inherit;
  @include transition(all 0.25s ease-out);

  li {
    list-style: none;
    float: left;
    margin: 0 10px 10px 0;
    padding: 0;


    a {
      display: inline-block;
      padding: 9px 0;
      width: 40px;
      text-align: center;
      border-radius: 41px;
      color: #fff;
      @include transition(all 0.25s ease-out);
    }
  }
}

.cc {
  text-align: left;
  font-size: 12px;
  width: 400px;

  @media screen and (max-width: 595px) {
    width: 100%;
    padding: 10px;
  }

  a {
    img {
      width: auto;
      margin-left: 0px;
      margin-bottom: 10px;
    }
  }
}

a.bh {
  display: block;
  width: auto !important;
  margin: 10px 0px;

  img.bh-btn {
    height: 35px !important;
    width: auto !important;
    margin: 0px !important;
  }
}
